<h1>Messages</h1>

<ul class="list-group">
  <li class="list-group-item disabled">
    <div class="row">
        <div class="col-md-2">
          
        <b>De :</b> 
      </div>
      <div class="col-md-3">

        <b>Sujet :</b> 
      </div>
      <div class="col-md-5">
        <b>Message :</b>
      </div>
      <div class="col-md-2">
        <b>Date :</b>
      </div>
        
    </div>
  </li>
  <% current_user.messages.each do |message| %>
  <li class="list-group-item">
    <div class="row">
        <div class="col-md-2">
          
         <b><%= message.messagor_name %></b>
        <%= message.messagor_email %>
      </div>
      <div class="col-md-3">

         <b><%= message.subject %></b>
      </div>
      <div class="col-md-5">
        <%= message.body %>
      </div>
       <div class="col-md-2">
        <%= message.created_at.strftime("%d/%m/%Y à %H:%m") %>
      </div>
      
        
    </div>
  </li>
  
  <% end %>
</ul>



