<h1 class="page-header">Tableau de bord</h1>

<div class="row text-center">
	<div class="col-md-3">
		<div class="jumbotron">
			<h1 ><span class="dark-blue"><%= @users.count %></span></h1>
			 <h2><small><i class="fa fa-users"><%= link_to ' connexions', users_path %></i></small></h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			
			<h1><span class="dark-blue"><%= @messages.count %></span></h1>
			
			<h2><small><i class="fa fa-envelope"><%= link_to ' messages', messages_path %></i></small></h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
		
			<h1><span class="dark-blue"><%= @searches.count %></span></h1>
			 <h2><small><i class="fa fa-search"><%= link_to ' recherches', searches_path %></i></small></h2>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<h1><span class="dark-blue"><%= @impressions.count %></span></h1>
			<h2> <small><i class="fa fa-eye"> vues</i> </small></h1>
		</div>
	</div>
</div>
<hr>
<h3 class="page-header">Vos connexions à valider</h3>

<ul class="list-group">
<% @users.non_validated.each do |user| %>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-5">
				<b><%= link_to user.full_name, user %></b>
			</div>
			<div class="col-md-4">
				<%= user.profession %> chez <%= user.company %>
			</div>
		<!-- <%= user.impressionist_count(:filter=>:all) %> -->
		<div class="col-md-3">
			<%= simple_form_for(user) do |f| %>
			<%= f.hidden_field :is_validated, :value => true %>
			<%= f.submit "Valider", class: "btn btn-default btn-block btn-sm" %>
		<% end %>
	</div>
</div>
</li>
<% end %>
</ul>

<hr>


<div class="row text-center">
	<div class="col-md-6">
		<h3 class="page-header">Vos connexions les plus vues</h3>
		<% @most_consulted.each do |user| %>
			<p><%= link_to user.full_name, user %> (profil consulté <%= user.impressions_count %> fois)</p> 
		<% end %>
		
	</div>
<div class="col-md-6">

<h3 class="page-header">Vos connexions les plus contactées</h3>
	<% @most_contacted.each do |user| %>
		<p><%= link_to user.full_name, user %> (contacté <%= user.messages_count %> fois)</p> 
	<% end %>

</div>

</div>