<h1 class="page-header">Tableau de bord</h1>

<div class="row text-center">
	<div class="col-md-3">
		<div class="jumbotron">
			<h1><%= @users.count %> <small><br><%= link_to 'connexions', users_path %></small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			
			<h1><%= @messages.count %> <small><br><%= link_to 'messages', messages_path %></small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
		
			<h1><%= @searches.count %> <small><br><%= link_to 'recherches', searches_path %></small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<h1><%= @impressions.count %> <small><br>vues</small></h1>
		</div>
	</div>
</div>
<hr>
<h3 class="page-header">Nouvelles connexions à valider</h3>

<hr>
<div class="row text-center">
	<div class="col-md-4">
Contacts les plus contactés
</div>
<div class="col-md-4">

Compétences les plus recherchées
</div>
<div class="col-md-4">

Contacts les plus vus
</div>
</div>