
<div class="black-bg search-bg text-center">
	<h1 class="whitey">Résultats de votre recherche sur MetaConnexions
<small><br><span class="whitey">Terme recherché : "<%= @search.keywords %>"</span></small>
</h1>

<%= link_to "Nouvelle recherche", root_path, class: "btn btn-link whitey" %> 
</div>

<div class="container">
<div class="col-md-8 col-md-offset-2">
<% if @search.search_skills.empty? %>
	<p class="lead text-center">Il n'y pas encore de connexion qui ait cette compétence.
		<br>Vous peut-être plus de chance plus tard.
	</p>
<% else %>

	<% @search.search_skills.each do |c| %>
		<div>
			<% if c.user.is_validated %>
			<p class="lead">
				<% if c.how == "Pratique" %>
					<i class="fa fa-briefcase dark-blue"></i> 
				<% elsif c.how == "Instruction" %>
					<i class="fa fa-graduation-cap dark-blue"></i> 
				<% end %>
				<%= link_to c.user.full_name, user_path(c.user) %>
				
				<br><small>
				<%= c.user.profession %>

			</small>
			</p>
			<hr>
			<% end %>
		</div>
	<% end %>
<% end %>
<div class="text-center">
<%= link_to "Nouvelle recherche", root_path, class: "btn btn-primary btn-sm" %> 
</div>
</div>
</div>




