<% if user_signed_in? %>
	<li><%= link_to 'Messages', messages_path %></li>
  <li><%= link_to 'Profil', user_path(current_user) %></li>
  <% if current_user.is_meta %>
  <li><%= link_to 'Mes contacts', users_path %></li>
  <li><%= link_to 'Tableau de bord', dashboard_path %></li>
<% end %>
  <li><%= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>

